header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 20px;
  box-sizing: border-box;
  width: 100%;
  background-color: gold;
  & > div {
    display: flex;
    align-items: center;
    font-size: 1.2em;
    img {
      width: 30px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
  nav {
    & > div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      img {
        border-radius: 100%;
        width: 30px;
        height: 30px;
        margin-right: 5px;
        border-width: 2px;
        border: 2px solid goldenrod;
      }
      & > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9em;
        flex-direction: column;
        position: absolute;
        top: 130%;
        background-color: white;
        width: 100px;
        height: 80px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 5px 5px 15px 5px #98989887;
        z-index: 1;
        & > * {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 40px;
          cursor: pointer;
          &:hover {
            background-color: rgba(128, 128, 128, 0.558);
          }
        }
      }
    }
    a {
      transition: color 300ms;
    }
    & > a:hover {
      color: white;
    }
  }
}
