<div class="sidebar">
  <p class="news-bar-title">News Feed</p>
  <ng-container *ngIf="{ likes: newLikes$ | async } as data">
    <div *ngFor="let like of data?.likes?.newLikes">
      <div class="like-info">
        <span class="username">
          <a [routerLink]='["profile", like.userId]'>
            <span>{{like.username}}</span>
          </a>
          <span class="like-text">liked the movie</span>
          <a [routerLink]='["movie", like.movieId]'>
            <span class="movie-title">{{like.movieTitle}}</span>
          </a>
        </span>
      </div>
    </div>
    <div *ngFor="let score of data?.likes?.newScores">
      <div class="score-info">
        <span class="username">
          <a [routerLink]='["profile", score.userId]'>
            <span>{{score.username}}</span>
          </a>
          <span class="score-text">scored the movie</span>
          <a [routerLink]='["movie", score.movieId]'>
            <span class="movie-title">{{score.movieTitle}}</span>
          </a>
          <span class="score-text">about</span>
          <span class="score-value">{{score.score}}</span>
          <span class="star">&#9733;</span>
        </span>
      </div>
    </div>
  </ng-container>
</div>
<div class="sidebar-handle" (click)="toggleSidebar()">
  <div>
    <img class="{{isSidebarOpen ? '' : 'left'}}" src="../../../assets/icons/arrow.png" alt="arrow">
  </div>
</div>
<div class="container-movies">
  <div *ngIf="movies$ | async as movies">
    <div *ngFor="let movie of movies.results">
      <a [routerLink]='["movie", movie.id]'>
      <div class="movie-container">
        <img
          class="placeholder"
          src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
          alt="{{ movie.title }}"
          loading="lazy"
          onerror="this.src='https://firebasestorage.googleapis.com/v0/b/tp-movies-2023.appspot.com/o/error.png?alt=media&token=a8f7d4c6-885e-40be-8808-29fe66a838b3'"
        />
        <div class="movie-info">
          <p>{{ movie.title }}</p>
        </div>
      </div>
    </a>
      
      <button (click)="isLiked(movie) ? unlikeMovie(movie) : likeMovie(movie)">
        <span class="like-icon" [ngClass]="{'liked': isLiked(movie)}"></span>
      </button>
    </div>
  </div>
  <div *ngIf="page" class="pagination">
    <div *ngIf="movies$ | async as movies">
      <a *ngIf="page-1 > 0" [routerLink]="['/']" [queryParams]="{page: page-1}">{{page-1}}</a>
      <p>{{page}}</p>
      <a *ngIf="page+1 <= movies.total_pages" [routerLink]="['/']" [queryParams]="{page: page+1}">{{page+1}}</a>
    </div>
  </div>
</div>
