<div class="sidebar">
  <p>Ceci est la sidebar</p>
</div>
<div class="sidebar-handle" (click)="toggleSidebar()"></div>
<div class="container-movies">
  <h1>Movies</h1>
  <div *ngIf="movies$ | async as movies">
    <div *ngFor="let movie of movies.results">
      <a [routerLink]='["movie", movie.id]'>
      <div class="movie-container">
        <img
          src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}"
          alt="{{ movie.original_title }}"
          loading="lazy"
        />
        <div class="movie-info">
          <p>{{ movie.original_title }}</p>
        </div>
      </div>
    </a>
      
      <button (click)="isLiked(movie) ? unlikeMovie(movie) : likeMovie(movie)">
        <span class="like-icon" [ngClass]="{'liked': isLiked(movie)}"></span>
      </button>
    </div>
  </div>
</div>
