<div *ngIf="movie$ | async as movie" class="container-details">
  <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" alt="{{ movie.original_title }}" loading="lazy" />
  <div>{{movie.original_title}}</div>
  <p>synopsis: <br>{{movie.overview}}</p>
  <p>Release date: {{movie.release_date}}</p>
</div>

<div *ngIf="casts$ | async as casts" style="display: flex; overflow: scroll;">
  <div *ngFor="let cast of casts.cast" style="padding: 20px;">
    <p><strong>Actor: </strong>{{cast.name}}</p>
    <p><strong>Character: </strong> {{cast.character}}</p>
    <img width="50px" loading="lazy" src="https://image.tmdb.org/t/p/original/{{cast.profile_path}}" alt="{{cast.name}}" onerror="this.src='https://firebasestorage.googleapis.com/v0/b/tp-movies-2023.appspot.com/o/error.png?alt=media&token=a8f7d4c6-885e-40be-8808-29fe66a838b3'">
  </div>
</div>
