.container {
  padding: 20px;
  height: calc(100vh - 104px);
  & > div {
    display: flex;
    height: 100%;
    justify-content: space-between;
    .movie-infos {
      display: flex;
      height: 100%;
      width: 80%;
      & > img {
        border-radius: 20px;
        margin-right: 20px;
      }
      h2 {
        font-size: 2.5em;
        margin: 0px;
      }
      h3:first-of-type {
        margin-top: 60px;
      }
      p:last-of-type {
        font-size: 0.8em;
      }
    }
  }
  .star {
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
    margin-right: 5px;
  }

  .star:hover,
  .star.filled {
    color: #ffc107;
  }
}

.cast {
  width: 150px;
  max-height: 100%;
  overflow-y: auto;
  & > div {
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
    &:hover > .actor-infos {
      opacity: 1;
    }
    .actor-infos {
      position: absolute;
      width: 100%;
      bottom: 0;
      opacity: 0;
      background-color: rgba($color: #000000, $alpha: 0.5);
      color: white;
      font-size: 0.8em;
      margin-bottom: 4px;
      padding-left: 5px;
      transition: opacity 500ms;
    }
  }
}

@media (max-width: 1000px) {
  .container {
    height: auto;
    & > div {
      flex-direction: column;
      .movie-infos {
        display: flex;
        width: auto;
        & > img {
          align-self: center;
          width: 80%;
          border-radius: 20px;
          margin-bottom: 10px;
        }
        & > div {
          display: flex;
          flex-direction: column;
          .rating {
            align-self: center;
          }
        }
        h3:first-of-type {
          margin-top: 20px;
        }
      }
    }
  }
  .cast {
    display: flex;
    width: auto;
    overflow-x: auto;
    max-width: 100%;
    margin-top: 10px;
    & > div {
      flex: 0 0 150px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 800px) {
  .container {
    .movie-infos {
      flex-direction: column;
      & > img {
        margin-right: 0px;
      }
      h2 {
        display: none;
      }
    }
  }
  .cast {
    margin-top: 20px;
    & > div {
      flex: 0 0 150px;
      .actor-infos {
        opacity: 1;
      }
    }
  }
}
