<div class="authBlock">
  <h3>LOGIN</h3>
  <form class="formGroup">
    <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
    <input
      type="email"
      class="formControl"
      placeholder="Email"
      #userEmail
      required
    />
    <input
      type="password"
      class="formControl"
      placeholder="Password"
      #userPassword
      required
    />
    <button
      (click)="
        login(userEmail.value, userPassword.value);
        $event.preventDefault()
      "
    >
      Login
    </button>
    <p>No account ? <a class="link" [routerLink]="['/register']">Create one</a></p>
  </form>
</div>
